<%- include('partials/header') %>
<section>
    
      <div class="container about marketing">
        <div class="row info">
          <div class="col-lg-4 pb-4">
            <img class="" width="180" height="180" src="images/khushi.jpg" alt="">
            <h4 class="fw-normal">Khushi Sharma</h4>
            <p>HTML Developer</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 pb-4">
            <img class="" width="180" height="180" src="images/prabhav.jpg" alt="">
            <h4 class="fw-normal">Prabhav Saxena</h4>
            <p>NodeJS & MongoDB Developer</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 pb-4">
            <img class="" width="180" height="180" src="images/prerna.jpg" alt="">
            <h4 class="fw-normal">Prerna Agarwal</h4>
            <p>JavaScript Developer</p>
          </div>
          
          <div class="col-lg-4 pb-4">
            <img class="" width="180" height="180" src="images/surbhi.jpg" alt="">
            <h4 class="fw-normal">Surbhi Pandey</h4>
            <p>Research Work</p>
          </div>

          <div class="col-lg-4 pb-4">
            <img class="" width="180" height="180" src="images/aditya.jpg" alt="">
            <h4 class="fw-normal">Aditya Kumar</h4>
            <p>UI Developer</p>
          </div>
        </div><!-- /.row -->
      </div>    
</section>
<%- include('partials/footer') %>